html, body {
    margin:0;
    padding:0;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
    padding: 20px;
    background-color: palegoldenrod;
}

h1{
    margin: 0;
    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

ul a{
    color: black;
    text-decoration: none;
}

.main{
    display: flex;
    min-height: 500px;
}

.content{
    width: 70%;
    background-color: #eeeeee;
}

.sidebar{
    width: 30%;
    background-color: #696969;
    color: white;
}

p{
    margin: 20px;
}